# ============================================================
#   FICHIER .env — Social Boost Backend
# ============================================================

# --- BASE DE DONNÉES ---
DJANGO_USER=lelouch
DJANGO_PASSWORD=Yowyob2026
DATABASE_URL=postgres://${DJANGO_USER}:${DJANGO_PASSWORD}@postgres:5432/link

# --- CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=dmxvwajns
CLOUDINARY_API_KEY=931621726181344
CLOUDINARY_API_SECRET=aY-HUkPJpkLhBH_1bOsEeI9p4U8

# --- FRONTEND ---
FRONTEND_URL=https://link-dev.yowyob.com